.calendar {
  display: grid;
  grid-template-columns: 1fr 14fr 1fr;
}
button {
  background-color: #F6E9DC;
  border: 1px solid #e66053;
  color: #4E4F4A;
  cursor: pointer;
  outline: 0;
  font-size: 1.7rem;
}
button:hover {
  background-color: #4E4F4A;
  color: #F6E9DC;
}
table {
  background-color: #F6E9DC;
  border-spacing: 0;
}
table caption {
  background-color: #F6E9DC;
  border: 1px solid #e66053;
}
table caption h1 {
  background-color: #4E4F4A;
  color: #F6E9DC;
  display: inline-block;
  font-size: 1.8rem;
  font-family: 'Montserrat-Regular';
  letter-spacing: .1em;
  padding: .5rem 2rem;
  text-transform: uppercase;
  margin: .5rem;
}
th, td {
  border: 1px solid #e66053;
  padding: .3rem;
  width: 5.1rem;
}
td {
  font-size: 2.2rem;
  text-align: center;
}
td:hover {
  background-color: #e66053;
  cursor: pointer;
}
td:nth-child(6),
td:nth-child(7){
  color: #e66053;
}
td:nth-child(6):hover,
td:nth-child(7):hover{
  background-color: #e66053;
  color: #F6E9DC;
}
