/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
/*red: #e66053;
black: #4E4F4A;
cream: #F6E9DC;*/
@font-face {
  font-family: Montserrat-Bold;
  src:url(fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src:url(fonts/Montserrat-Regular.ttf);
}

html {
  font-size: 22px;
}
body {
  background-color: #e66053;
  font-family: 'Montserrat-Bold';
  font-weight: bold;
  color: #4E4F4A;
  display: grid;
  justify-content: center;
  padding-top: 10vh;
}
@media screen and (max-width: 900px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 10px;
  }
}

